.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body, #root{
  width:100%;
  height: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text] {
  width: 200px;
  right: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url('searchicon.png'); */
  padding: 12px 20px 12px 10px;
  margin-right: 20px;

}

input[type=submit] {
  width: 80px;
  right: 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: grey;
  padding: 12px 20px 12px 10px;
}
.city-input{
  position: fixed;
right: 0;
}
.sideBar{
  position: absolute;
  height: 100%;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.sideBar a{
  height: 50px;
}
.sideBar button{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
}
.sideBar-background{
  position: absolute;
  background-color: #aaaaaaaa;
  width: 100%;
  height: 100%;
  z-index: 5;
}